#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.settings-field {
  display: flex;
  justify-content: space-between;
}

.settings-field label {
  margin-right: 8px;
}

.settings-field input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

.card,
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.card button,
.settings button {
  display: block;
  margin: 12px auto;
}

.generated-number,
.total-count {
  font-size: 1.5rem;
}

.generated-number pre {
  font-size: 3rem;
  color: red;
  max-width: 450px;
  white-space:normal;
}

.history-list ol {
  list-style: symbols('1234567890');
}

.history-list ol li::marker {
  color: red;
  font-weight: bold;
}
